<div class="page-content">
    <!-- my cars-->
    <div class="row my_carInfo">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="my-portlet">
                <div class="portlet light my-portlet">
                    <div class="portlet-body">
                        <div class="row padding">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a ui-sref="dashboard.carslist" class="btn btn-sm btn-circle dark pull-left">
                                    <i class="fa fa-long-arrow-left"></i> Back </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a  class="btn btn-sm btn-circle red pull-right">
                                    <i class="fa fa-trash-o"></i> Delete</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 car-info-box">
                                <div class="text-center img-box">
                                    <img src="/img/angular/86810000_three_forth_profile.jpg">
                                </div>
                                <hr class="dark hidden-lg hidden-md hidden-sm">
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 services-box">
                                <p>{{selectedCar.year_name}}</p>
                                <h3><b>{{selectedCar.brand_name}}</b></h3>

                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Recommended services</td>
                                        <td><b>0</b></td>
                                    </tr>
                                    <tr>
                                        <td>Total mileage</td>
                                        <td><b>{{selectedCar.total_mileage}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>Daily average mileage</td>
                                        <td><b>{{selectedCar.daiL_mileage}}</b></td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!--<div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">-->
                                <!--<hr class="dark hidden-lg hidden-sm">-->
                                <!--<div class="set-verticaly-center health-box">-->
                                    <!--<div class="health-not-fond set-verticaly-center">-->
                                        <!--<strong>Cars health not Found</strong>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <!-- BEGIN TAB PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title tabbable-line">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active">
                                            <a href="#portlet_tab1" data-toggle="tab"> <h4>Car Details</h4> </a>
                                        </li>
                                        <li>
                                            <a href="#portlet_tab2" data-toggle="tab"><h4> Car Health </h4> </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="portlet_tab1">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="currentMileage" class="col-md-2 control-label">Current Mileage</label>
                                                    <div class="col-md-4">
                                                        <input type="number" class="form-control" id="currentMileage" ng-model="selectedCar.total_mileage" min="0"> </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="dailyMileage" class="col-md-2 control-label">Daily Mileage</label>
                                                    <div class="col-md-4">
                                                        <input type="number" class="form-control" id="dailyMileage" ng-model="selectedCar.daiL_mileage" min="0"> </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <button type="submit" class="btn blue pull-right" ng-click="saveCarInfo(selectedCar)">Save</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="tab-pane" id="portlet_tab2">
                                            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo. </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END TAB PORTLET-->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--end my cars-->
</div>