<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h1 class="pull-left"><b>My Cars</b></h1>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="set-verticaly-center header-add-btn">
                                <button type="button" class="btn btn-circle btn-default pull-right" href="#form_modal11" data-toggle="modal">+ Add a new car</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- my cars-->
    <div class="row" ng-repeat="item in userCarList">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="my-portlet">
                <div class="portlet light my-portlet">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 car-info-box">
                                <div class="text-center img-box">
                                    <img src="/img/angular/86810000_three_forth_profile.jpg">
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-default btn-lg" ng-click="showCarInfo(item)">View car information</button>
                                </div>

                                <hr class="dark hidden-lg hidden-md hidden-sm">
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 services-box">
                                <p>{{item.year_name}}</p>
                                <h3><b>{{item.brand_name}}</b></h3>

                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Recommended services</td>
                                        <td><b>0</b></td>
                                    </tr>
                                    <tr>
                                        <td>Total mileage</td>
                                        <td><b>{{item.total_mileage}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>Daily average mileage</td>
                                        <td><b>{{item.daiL_mileage}}</b></td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!--<div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">-->
                            <!--<hr class="dark hidden-lg hidden-sm">-->
                            <!--<div class="set-verticaly-center health-box">-->
                            <!--<div class="health-not-fond set-verticaly-center">-->
                            <!--<strong>Cars health not Found</strong>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--end my cars-->

    <!--&lt;!&ndash; my cars&ndash;&gt;-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="portlet light my-portlet">-->
    <!--<div class="portlet-body">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 car-info-box">-->
    <!--<div class="text-center img-box">-->
    <!--<img src="/img/angular/bmw.png">-->
    <!--</div>-->
    <!--<div class="text-center">-->
    <!--<button type="button" class="btn btn-default btn-lg">View car information</button>-->
    <!--</div>-->

    <!--<hr class="dark hidden-lg hidden-md hidden-sm">-->
    <!--</div>-->

    <!--<div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 services-box">-->
    <!--<p>2013</p>-->
    <!--<h3><b>Audi Q5</b></h3>-->

    <!--<table>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>Recommended services</td>-->
    <!--<td><b>0</b></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Total mileage</td>-->
    <!--<td><b>0</b></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Daily average mileage</td>-->
    <!--<td><b>0</b></td>-->
    <!--</tr>-->
    <!--</tbody>-->

    <!--</table>-->

    <!--</div>-->
    <!--<div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">-->
    <!--<hr class="dark hidden-lg hidden-sm">-->
    <!--<div class="set-verticaly-center health-box">-->
    <!--<div class="health-not-fond set-verticaly-center">-->
    <!--<strong>Cars health not Found</strong>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;end my cars&ndash;&gt;-->

    <!-- modal-->
    <div id="form_modal11" class="modal fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title text-center"><b>Add a new car</b></h4>
                </div>
                <div class="modal-body">

                    <p class="text-center"><a href="">Use license plate </a>or select manually below</p>

                    <form  class="form-horizontal" role="form">
                        <div class="form-group">
                            <!--<label class="control-label col-md-4">Make</label>-->
                            <div class="col-md-8" style="float: none;margin: auto">
                                <select class="bs-select form-control" ng-change="selectMake(brand)"
                                        ng-options="option as option.name for option in carsBrandsList " ng-model="brand">
                                    <option value=''>- Select Make -</option>
                                    <!--<option>Make</option>-->
                                    <!--<option>Mustard</option>-->
                                    <!--<option>Ketchup</option>-->
                                    <!--<option>Relish</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="control-label col-md-4">Disabled</label>-->
                            <div class="col-md-8" style="float: none;margin: auto">
                                <select class="bs-select form-control" ng-change="selectYear(year)"
                                        ng-options="option as option.name for option in carsYearList " ng-model="year">
                                    <option value=''>- Select Year -</option>
                                    <!--<option>Year</option>-->
                                    <!--<option>Mustard</option>-->
                                    <!--<option>Ketchup</option>-->
                                    <!--<option>Relish</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="control-label col-md-4">Disabled</label>-->
                            <div class="col-md-8" style="float: none;margin: auto">
                                <select class="bs-select form-control" ng-change="selectModel(model)"
                                        ng-options="option as option.name for option in carsModelList " ng-model="model">
                                    <option value=''>- Select Model -</option>
                                    <!--<option>Mustard</option>-->
                                    <!--<option>Ketchup</option>-->
                                    <!--<option>Relish</option>-->
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-4">Disabled</label>-->
                            <!--<div class="col-md-8"  style="float: none;margin: auto" >-->
                                <!--<select class="bs-select form-control" ng-change="selectTrim(selectedTrim)" ng-model="selectedTrim">-->
                                    <!--<option disabled selected>- Select Trim -</option>-->
                                    <!--<option ng-repeat="obj in carsTrimList">{{obj}}</option>-->
                                    <!--<option>Mustard</option>-->
                                    <!--<option>Ketchup</option>-->
                                    <!--<option>Relish</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn green btn-circle btn-lg" data-dismiss="modal" ng-click="addCar()">Add</button>
                        <button class="btn grey-salsa btn-outline btn-circle btn-lg" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-->


</div>
