<div class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md my-dashboard">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img src="/img/angular/logo-2.png" alt="logo" class="logo-default" /> </a>
                <div class="menu-toggler sidebar-toggler hidden-lg hidden-md">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN PAGE TOP -->
            <div class="page-top">

                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <!--<li class="dropdown dropdown-extended " >-->
                            <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">-->
                                <!--Give $20, Get $20-->
                                <!--<i class="icon-heart"></i>-->
                                <!--<span class="badge badge-default"> 7 </span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown dropdown-extended " >-->
                            <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">-->
                                <!--Help-->
                                <!--<i class="icon-question"></i>-->
                                <!--<span class="badge badge-default"> 7 </span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="dropdown dropdown-extended ">-->
                            <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">-->
                                <!--Notifications-->
                                <!--<i class="icon-bell"></i>-->
                                <!--<span class="badge badge-default"> 7 </span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!-- END NOTIFICATION DROPDOWN -->


                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <!--<img alt="" class="img-circle" src="../../assets/layouts/layout2/img/avatar3_small.jpg" />-->
                                Tester User
                                <i class="icon-settings"></i>
                                <!--<span class="username username-hide-on-mobile"> Nick </span>-->
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a ui-sref="dashboard.profile">
                                        <i class="icon-user"></i> My Profile </a>
                                </li>
                                <!--<li>-->
                                    <!--<a href="app_calendar.html">-->
                                        <!--<i class="icon-calendar"></i> My Calendar </a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="app_inbox.html">-->
                                        <!--<i class="icon-envelope-open"></i> My Inbox-->
                                        <!--<span class="badge badge-danger"> 3 </span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<a href="app_todo_2.html">-->
                                        <!--<i class="icon-rocket"></i> My Tasks-->
                                        <!--<span class="badge badge-success"> 7 </span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="divider"> </li>-->
                                <!--<li>-->
                                    <!--<a href="page_user_lock_1.html">-->
                                        <!--<i class="icon-lock"></i> Lock Screen </a>-->
                                <!--</li>-->
                                <li>
                                    <a href="page_user_login_1.html">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!--<li class="dropdown dropdown-extended quick-sidebar-toggler">-->
                        <!--<span class="sr-only">Toggle Quick Sidebar</span>-->
                        <!--<i class="icon-logout"></i>-->
                        <!--</li>-->
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="nav-item">
                    <!--<li class="nav-item start active open">-->
                        <a ui-sref="dashboard.carslist" class="nav-link nav-toggle">
                            <span class="title">My Cars</span>
                            <!--<span class="selected"></span>-->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a ui-sref="dashboard.appointmentlist"  class="nav-link nav-toggle">
                            <span class="title">Appointments</span>
                        </a>

                    </li>
                    <li class="nav-item  ">
                        <a ui-sref="dashboard.quoteslist" class="nav-link nav-toggle">
                            <span class="title">Quotes</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Recommendations</span>
                        </a>

                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">My Mechanics</span>
                        </a>

                    </li>
                    <li class="nav-item  ">
                        <a href="?p=" class="nav-link nav-toggle">
                            <span class="title">Advice</span>
                        </a>

                    </li>
                    <li class="nav-item  ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <span class="title">Billing & Payments</span>
                        </a>

                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
                <div class="padding-tb-10 text-center">
                    <button type="button" class="btn btn-danger light btn-outline btn-lg">GET A NEW QUOTE</button>
                </div>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div ui-view></div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2016 &copy; Autogenie.pk
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
</div>
